body {
    height: 100vh;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.goPage h1 {
    color: greenyellow;
    font-family: fantasy;
    font-size: large;
    font-weight: 500;
    text-align: center;
    margin: 10px 0px 20px 0px;
    text-decoration: none;
    display: block;
}



.container {
    padding: 50px 0;
}

.container .Gundam {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 700px;
    margin: 0 auto;
    padding: 100px 0px 20px;
}

.container .Gundam .unit {
    width: 140px;
    height: 100px;
    margin: 4px;
    padding: 3px;
    border: 3px solid #fff;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #555;
    transform: skewX(-14deg);
    transition: transform .1s,
        background-color .6s;
    overflow: hidden;
}

.container .Gundam .unit:hover {
    background-color: #00aeff;
    transform: skewX(-14deg) scale(1.8);
    z-index: 1;
}

.container .Gundam .unit .image {
    width: 140%;
    height: 100%;
    background-position: center;
    background-size: 90px;
    background-repeat: no-repeat;
    transform: skewX(14deg) translateX(-16px);

}

.container .Gundam .unit span {
    text-align: start;
    font-size: large;
    display: block;
    font-weight: 700;
}

.container .Gundam .unit:nth-child(1) .image {
    background-image: url(../images/unit1.png);
    cursor: pointer;
}

.container .Gundam .unit:nth-child(2) .image {
    background-image: url(../images/unit2.png);
    cursor: pointer;
}

.container .Gundam .unit:nth-child(3) .image {
    background-image: url(../images/unit3.png);
    cursor: pointer;
}

.container .Gundam .unit:nth-child(4) .image {
    background-image: url(../images/unit4.png);
    cursor: pointer;
}

.container .Gundam .unit:nth-child(5) .image {
    background-image: url(../images/unit5.png);
    cursor: pointer;
}

.container .Gundam .unit:nth-child(6) .image {
    background-image: url(../images/unit6.png);
    cursor: pointer;
}

.container .Gundam .unit:nth-child(7) .image {
    background-image: url(../images/unit7.png);
    cursor: pointer;
}

.container .Gundam .unit:nth-child(8) .image {
    background-image: url(../images/unit8.png);
    cursor: pointer;
}

.container .Gundam .unit:nth-child(9) .image {
    background-image: url(../images/unit9.png);
    cursor: pointer;
}

.container .Gundam .unit:nth-child(10) .image {
    background-image: url(../images/unit10.png);
    cursor: pointer;
}

.container .Gundam .unit:nth-child(11) .image {
    background-image: url(../images/unit11.png);
    cursor: pointer;
}

.container .Gundam .unit:nth-child(12) .image {
    background-image: url(../images/unit12.png);
    cursor: pointer;
}

.container .Gundam .unit:nth-child(13) .image {
    background-image: url(../images/unit13.png);
    cursor: pointer;
}

.container .Gundam .unit:nth-child(14) .image {
    background-image: url(../images/unit14.png);
    cursor: pointer;
}

.container .Gundam .unit:nth-child(15) .image {
    background-image: url(../images/unit15.png);
    cursor: pointer;
}


.container .Gundam .unit:nth-child(16) .image {
    background-image: url(../images/unit16.png);
    cursor: pointer;
}

.container .Gundam .unit:nth-child(17) .image {
    background-image: url(../images/unit17.png);
    cursor: pointer;
}

.container .Gundam .unit:nth-child(18) .image {
    background-image: url(../images/unit18.png);
    cursor: pointer;
}

.container .Gundam .unit:nth-child(19) .image {
    background-image: url(../images/unit19.png);
    cursor: pointer;
}

.container .Gundam .unit:nth-child(20) .image {
    background-image: url(../images/unit20.png);
    cursor: pointer;
}

.container .Gundam .unit:nth-child(21) .image {
    background-image: url(../images/unit21.png);
    cursor: pointer;
}

.container .Gundam .unit:nth-child(22) .image {
    background-image: url(../images/unit22.png);
    cursor: pointer;
}



.container .logo {
    max-width: 300px;
    margin: 0 auto;
    padding: 0 20px;
}

.container .logo img {
    margin-bottom: 10px;
    width: 100%;
    cursor: pointer;
}



.youtube {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 800px;
    background-color: #333;
    overflow: hidden;
}

.youtube .youtube__area {
    display: flex;
    flex-wrap: wrap;
    width: 1920px;
    background-color: rgb(15, 218, 25);
    position: absolute;
    left: 50%;
    margin-left: calc(1920px / -2);
    top: 0;
    margin-top: calc(1920*9 / 16 / -2);
}

.youtube .youtube__area::before {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
}

.youtube .youtube__cover {
    background-image: url("../images/video_cover_pattern.png");
    background-color: rgba(0, 0, 0, .3);
    /* 30% 불투명도 */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#player {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.youtube .inner {
    height: 900px;
}